<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- header -->
    
    <header>
        <img height="200px" width="200px" src="../public/img/logo-mercado-liebre.svg">
        <div>
            <p>Lugar para poner barra de busqueda</p>
        </div>
        <div>
            <p>Compra en cuotas y sin tarjeta de credito</p>
        </div>
        <nav> <!--barra navegacion-->
            <div>
                <ul type="circle">
                    <li><a href="#ofertas">ofertas</a></li>
                    <li><a href="#tiendas">tiendas oficiales</a></li>
                    <li><a href="#vender">vender</a></li>
                    <li><a href="#ayuda">ayuda</a></li>
                </ul>
            </div>

            <div>
                <ul type="circle">
                    <li><a href="#cuenta">crea tu cuenta</a></li>
                    <li><a href="#ingresa">ingresa</a></li>
                    <li><a href="#miscompras">mis compras</a></li>
                </ul>
            </div>
        </nav>
    </header>


    <!-- main -->
    <main>

        
    </main>
    <!-- footer -->
</body>
</html>